$zero-value: 0;
$padding-value: 15px;

.chart-wrapper {
  padding: $padding-value;
  margin: 15px $zero-value;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}
